@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom utilities */
@layer utilities {
  .animated-gradient {
    background-image:
linear-gradient(
  135deg,
  #ff5c00 0%,
  #ff5c00 22%,
  /* blend 22 → 28% */
  #FF0091  28%,
  #FF0091  47%,
  /* blend 47 → 53% */
  #ff5c00 53%,
  #ff5c00 72%,
  /* blend 72 → 78% */
  #FF0091  78%,
  #FF0091  100%
);


    background-size: 180% 180%;
    background-position: 0% 50%;
    animation: gradientWave 30s linear infinite;
  }

  .float-slow {
    animation: floatSlow 16s ease-in-out infinite;
  }
}


/* Keyframes for the gradient movement */
@keyframes gradientWave {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%; /* same as 0% for seamless loop */
  }
}

/* Keyframes for floating circles */
@keyframes floatSlow {
  0%,
  100% {
    transform: translate3d(0, 0, 0) scale(1);
  }
  50% {
    transform: translate3d(0, -10px, 0) scale(1.03);
  }
}
